@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/screens";

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@font-face {
  font-family: Lobster;
  src: url(../public/Lobster-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(../public/Roboto-Regular.ttf);
}

* {
  box-sizing: border-box;
}

html, body {
  overscroll-behavior: contain;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background-color: white;
  outline: 1px solid rgba(252, 211, 77, 1);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(252, 211, 77, 1);
}

.playful {
  /* opacity: 0.7; */
  --text: rgb(243, 241, 218); /* Blue */
  --shadow: rgb(228, 133, 248); /* Pink */
  text-shadow: 
    var(--shadow) 1px 1px,
    var(--shadow) 2px 2px;
  text-shadow: 
    0 -2px 1px #fff,
    4px 4px var(--shadow),
    6px 6px rgb(242, 160, 99);
}

.flag {
  position: relative;
  background-color: #1aa3ff;
  color: #f4f4f4;
  padding: 0.2em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.flag::before,
.flag::after {
  position: absolute;
  content: "";
  width: 0;
  height: 1.2em;
  border-style: solid;
  border-width: 0.5em;
  /* background-color: #0099ff; */
  z-index: -1;
  /* transform: translateZ(-0.5em); */
}

h1:hover, h3:hover, h4:hover, h5:hover, h6:hover, p:hover, span:hover {
	background: rgba(252, 211, 77, 0.7);
	color: black;
}

::selection {
	background: rgb(255, 138, 80);
	color: white;
}

::-moz-selection {
	background: rgb(255, 138, 80);
	color: white;
}

.flag::before {
  left: -0.5em;
  top: 1em;
  border-color: #0099ff #006bb3 #0099ff rgba(0, 153, 255, 0);
}

.flag::after {
  right: -0.5em;
  top: 1em;
  border-color: #0099ff rgba(0, 153, 255, 0) #0099ff #006bb3;
}

#ABOUT p:first-of-type:first-letter {
  -webkit-initial-letter: 2;
          initial-letter: 2;
  color: rgba(252, 211, 77, 1);
  font-weight: bold;
  margin-right: .5em;
 }

button, a {
  cursor: pointer;;
}

button:hover , a:hover {
  color: rgb(255, 138, 80);
}

.page-transition {
  animation: page-transition 1s 0s 1 both;
}

@keyframes page-transition{
  0%{ 
    width: 0vw;
    margin-left: 0vw;
   }
  30%{ 
    width: 80vw;
    margin-left: 0vw;
  }
  50%{ 
     width: 100vw;
     margin-left: 0vw;
  }
  75% {
    width: 30vw;
    margin-left: 70vw;
  }
  95%{ 
    width:0vw; 
    margin-left: 100vw;
  }
  100%{ 
    width:0vw; 
    margin-left: 0vw;
  }
}

.nav-in {
  animation: nav-in 0.75s 0s 1 both ease-out;
}

.nav-out {
  animation: nav-out 0.75s 0.4s 1 both;
}

.float {
  animation: float 1.5s 1s infinite both;
}

@keyframes nav-in{
  0%{ 
    width: 0vw;
    margin-left: -100vw;
    opacity: 0;
   }
   1%{ 
    width: 0vw;
    margin-left: -100vw;
    opacity: 1;
   }
  50% {
    width: 80vw;
    margin-left: 0vw;
    opacity: 1;
  }
  95% {
    width: 98vw;
    margin-left: 0vw;
    opacity: 1;
  }
    100%{ 
    width:100vw; 
    margin-left: 0vw;
    opacity: 1;
  }
}

@keyframes nav-out{
  0%{ 
    width: 100vw;
    margin-left: 0vw;
    opacity: 1;
  }
  75% {
    width: 40vw;
    margin-left: 60vw;
    opacity: 1;
  }
  99%{ 
    width:0vw; 
    margin-left: 100vw;
    opacity: 1;
  }
  100%{ 
    width:0vw; 
    margin-left: -100vw;
    opacity: 0;
  }
}

@keyframes float{
  0%{     
    transform: translateY(-5px);
  }
  50%{
    transform: translateY(5px);
  }
  100%{ 
    transform: translateY(-5px);
  }
}

.ratate-text {
  animation: rotate linear 15s infinite;
}

@keyframes rotate{
  0% {
    transform: translate(-50%, -50%) rotate(0deg)
  }
  25% {
    transform: translate(-50%, -50%) rotate(90deg)
  }
  50% {
    transform: translate(-50%, -50%) rotate(180deg)
  }
  75% {
    transform: translate(-50%, -50%) rotate(270deg)
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg)
  }  
}