.about
  height: 100vh
  width: 100%
  overflow-x: hidden
  overflow-y: auto
  perspective: 2px
  #aboutText
    width: 60%
    @extend %center
    transform: translate(-50%,-60%)
    & .context                                                                                                                                      
      font-size: 1.1em
    & .contacts
      font-size: 1.7em


+mq('desktop',min)
  .about
    min-width: 100vh
+mq('phone-wide',max)
  .about
    height: 90vh
    & .next
      bottom: 2em
    #aboutText
      width: 90%
      & .context
        margin-top: .5em
        font-size: 1.2em
      & p
        margin: 0 auto
        width: 100%
        & i